@import url("/css/component/window_popup.css");
@media screen and (max-width: 600px) {
    #language_controller {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 99999;
        background-color: white;
        width: 14%;
        margin-right: 4%;
        margin-top: 2%;
        border-radius: 15px;
        /* padding-bottom: 2%; */
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    #language_active {
        /* background-color: wheat; */
        border-radius: 15px;
        padding-top: 8px;
        padding-bottom: 16px;
        padding-left: 6%;
        padding-right: 6%;
    }
    #list_language {
        display: none;
    }
    .lan_options {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 10px;
    }
    .txt_lan,
    .img_lan {
        float: left;
        width: 34%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .lan_current {
        float: left;
        width: 34%;
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
    #language_controller {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 99999;
        background-color: white;
        width: 14%;
        margin-right: 4%;
        margin-top: 2%;
        border-radius: 15px;
        /* padding-bottom: 2%; */
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    #language_active {
        /* background-color: wheat; */
        border-radius: 15px;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
    #list_language {
        display: none;
    }
    .lan_options {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 10px;
    }
    .txt_lan,
    .img_lan {
        float: left;
        width: 34%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .lan_current {
        float: left;
        width: 34%;
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (min-width: 960px) {
    #language_controller {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 99999;
        background-color: white;
        width: 8%;
        margin-right: 4%;
        margin-top: 2%;
        border-radius: 15px;
        /* padding-bottom: 2%; */
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    #language_active {
        /* background-color: wheat; */
        border-radius: 15px;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
    #list_language {
        display: none;
    }
    .lan_options {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
    .txt_lan,
    .img_lan {
        float: left;
        width: 34%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .lan_current {
        float: left;
        width: 34%;
        margin-left: 8%;
        margin-right: 8%;
    }
}