<!-- Tool of Color Picker Component -->
<link rel="stylesheet" type="text/css" href="/css/component/multi_tool/color_picker.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<div id="example" class="color-picker">
    <label class="color-option">
    <input class="color-radio" type="radio" checked="checked" name="radio" value="#0d709a">
    <span class="checkmark"></span>
  </label>
    <label class="color-option">
    <input class="color-radio" type="radio" checked="checked" name="radio" value="#1c9ebc">
    <span class="checkmark"></span>
  </label>
    <label class="color-option">
    <input class="color-radio" type="radio" checked="checked" name="radio" value="#d71c4c">
    <span class="checkmark"></span>
  </label>
    <label class="color-option">
    <input class="color-radio" type="radio" checked="checked" name="radio" value="#f69227">
    <span class="checkmark"></span>
  </label>
    <label class="color-option">
    <input class="color-radio" type="radio" checked="checked" name="radio" value="#f7ce2b">
    <span class="checkmark"></span>
  </label>
    <label class="color-option">
    <input class="color-radio" type="radio" checked="checked" name="radio" value="#ffff">
    <span class="checkmark"></span>
  </label>
</div>
<script type="text/javascript">
    $(".color-picker ").hide();
</script>