<link rel="stylesheet" type="text/css" href="/css/component/courseware.css">

<div id="scene_courseware" class="draggable">
    <img id="preview_courseware" src="https://storage.googleapis.com/coulartlab/static/courseware/%E7%BB%98%E6%9C%AC%E7%B3%BB%E5%88%97%E8%AF%BE/%E7%BB%98%E6%9C%AC6%E5%A5%97/1%E3%80%8ALes%20ballons%20du%20souvenir%E3%80%8B%E6%B0%94%E7%90%83%E9%87%8C%E7%9A%84%E5%9B%9E%E5%BF%86I-%E7%89%A9%E4%BD%93%E6%AF%94%E4%BE%8B%E4%B8%8E%E8%BE%85%E5%8A%A9%E7%BA%BF%E7%9A%84%E8%BF%90%E7%94%A8/0.png"
        alt="">
</div>