<!DOCTYPE html>
<html lang="en" ng-app="CoulartlabAPP">

<head>
    <%- include ("../component/meta_config"); -%>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="/css/lib/animate.css-master/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/component/container_content.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>

    <div id="container_content">
        <%- include ("../component/emploi_sign"); -%>
    </div>
</body>

</html>