<link rel="stylesheet" type="text/css" href="/css/component/exitClass.css">
<div id="exitClass">
    <img class="source_exitClass" src="" alt="">
</div>
<script type="text/javascript" src="/scripts/controller/exitClassController.js"></script>