<link rel="stylesheet" type="text/css" href="/css/component/fallback.css">
<div id="fallback">
    <img class="source_fallback" src="" alt="">
</div>
<script type="text/javascript" src="/scripts/controller/fallbackController.js"></script>