<link rel="stylesheet" type="text/css" href="/css/component/footer_main.css">
<ul id="footer_personal">
    <div id=logo_footer>
        <img class="logo_footer_img" src="" alt="">
    </div>
    <ul id="contact_nous">
        <li class="contact_us_main">Contact US</li>
        <li class="contact_us_tel">+33782006492</li>
        <li class="contact_us_tel">+33762572284</li>
    </ul>
</ul>
<script>
    $(".logo_footer_img").attr("src", path.header_logo_img);
</script>