<link rel="stylesheet" type="text/css" href="/css/component/footer_login.css">
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/path.js"></script>
<script type="text/javascript" src="/scripts/path_controller.js"></script>
<ul id="footer_login">
    <div id=logo_footer_login>
        <img class="logo_footer_img" src="" alt="">
    </div>
    <ul id="contact_nous_login">
        <li class="contact_us_tel">Francais: +33782006492</li>
        <li class="contact_us_tel">Engilish: +33762572284</li>
    </ul>
</ul>
<script>
    $(".logo_footer_img").attr("src", path.header_logo_img);
</script>