<link rel="stylesheet" type="text/css" href="/css/component/forgot_password.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/component/window_popup.css"> -->
<div id="forgot_password">
    <div class="trans_forgot">
        >> forgot password
        << </div>
    </div>
</div>
<div id="window_popup">
    <ul id="content_popup">
        <li id="content_pop_title">
            Reset your Password
        </li>
        <li id="content_pop_form">
            <form>
                <div class="group_forgot">
                    <input id="forgot_client_email" class="input_forgot" type="text" required>
                    <span class="highlight_forgot"></span>
                    <span class="bar_forgot"></span>
                    <label class="label_forgot">Email</label>
                </div>
                <li id="content_pop_reset_password">
                    Your New Password
                </li>
                <div class="group_forgot">
                    <input id="forgot_new_password" class="input_forgot" type="text" required>
                    <span class="highlight_forgot"></span>
                    <span class="bar_forgot"></span>
                    <label class="label_forgot">New Password</label>
                </div>
                <div class="group_forgot">
                    <input id="forgot_confirm_password" class="input_forgot" type="text" required>
                    <span class="highlight_forgot"></span>
                    <span class="bar_forgot"></span>
                    <label class="label_forgot">Confirm New Password</label>
                </div>
                <div id="btn_forgot_change">
                    <input id="forgot_change_password" type="submit" value="Change Password" />
                    <input id="forgot_cancel_password" type="submit" value="Cancel" />
                </div>
            </form>
        </li>
    </ul>
</div>

<script type="text/javascript" src="/scripts/component/forgot_password.js"></script>