<link rel="stylesheet" type="text/css" href="/css/component/language.css">
<div id="language_controller">
    <ul id="language_active" class="clear animated pulse">
        <li class="lan_current">
            <img id="btn_pull_down" src="" alt="">
        </li>
        <li class="lan_current">
            <img id="lan_active" src="" alt="">
        </li>
    </ul>
    <ul id="list_language">
        <li id="ch_option" class="lan_options clear">
            <a class="txt_lan" href="">CH</a>
            <div class="img_lan">
                <img id="ch_img" src="">
            </div>
        </li>
        <li id="en_option" class="lan_options clear">
            <a class="txt_lan" href="">EN</a>
            <div class="img_lan">
                <img id="en_img" src="">
            </div>
        </li>
        <li id="fr_option" class="lan_options clear">
            <a class="txt_lan" href="">FR</a>
            <div class="img_lan">
                <img id="fr_img" src="">
            </div>
        </li>
    </ul>
</div>