<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=0">
<link rel="stylesheet" type="text/css" href="/css/component/rtc_videos.css">
<%- include ("../component/exitClass.ejs"); -%>
    <script type="text/javascript">
        exitClassController();
    </script>
    <div id="me" class="smallVideo active_click" style="perspective: 2000px;"></div>
    <div id="remote-container" class="grandVideo" style="perspective: 2000px;"></div>


    <script type="text/javascript" src="/scripts/component/rtc_videos/rtc_controller.js"></script>